{% extends 'ToaTwitterBootstrapBundle::layout.html.twig' %}
{% block content %}

<h1 class="page-header">{{ 'Post'|trans }}</h1>

<table class="record_properties table table-bordered table-condensed table-striped">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Titulo</th>
            <td>{{ entity.titulo }}</td>
        </tr>
        <tr>
            <th>Post</th>
            <td>{{ entity.post }}</td>
        </tr>
        <tr>
            <th>Publicado</th>
            <td>{% if entity.fechaPublicacion %}{{ entity.fechaPublicacion|date('Y-m-d h:i:s a') }}{% endif %}</td>
        </tr>
    </tbody>
</table>

    <p>
        <a class="btn" href="{{ path('post_edit', { 'id': entity.id }) }}">
            <i class="icon-pencil"></i>
            {{ 'edit'|trans }}
        </a>
    </p>

    <form action="{{ path('post_delete', { 'id': entity.id }) }}" method="post">
        {{ form_widget(delete_form) }}
        <button class="btn btn-danger" type="submit">
            <i class="icon-trash"></i>
            {{ 'delete'|trans }}
        </button>
    </form>

    <a class="btn" href="{{ path('post') }}">
        <i class="icon-th-list"></i>
        {{ 'back to the list'|trans }}
    </a>

{% endblock %}